<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayVista</title>
</head>
<body>
    <h1>Welcome to StayVista</h1>
    <div class="container">
        <%- body %> <!-- this is the place where the content of the page will be rendered -->
    </div>
</body>
</html>