<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Property Listing</title>
</head>
<body>
    <h3>Create a new Listing</h3><br>
    <form action="/listings" method="POST">
        <input type="text" name="listing[title]" placeholder="Enter Property Title"><br><br>
        <textarea name="listing[description]" placeholder="Enter Property Description"></textarea><br><br>
        <input type="text" name="listing[image]" placeholder="Enter Property Image URL"><br><br>
        <input type="number" name="listing[price]" placeholder="Enter Property Price"><br><br>
        <input type="text" name="listing[location]" placeholder="Enter Property Location"><br><br>
        <input type="text" name="listing[country]" placeholder="Enter Property Country"><br><br>
        <button type="submit">Add Listing</button>
    </form>
</body>
</html>